<div class="col-xs-12 header" data-stellar-background-ratio="0.5">
    <h1 data-stellar-ratio="0.58">Track the Dreck</h1>
</div>

<div class="map">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options">
        <ui-gmap-markers
            models="markers"
            idKey="'id'"
            coords="'self'"
            options="'options'"
            doCluster="true"
            clusterOptions="cluster.options"
            labelContent="Content">

            <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                <div>
                    <p ng-non-bindable >{{ options.title }}</p>
                    <!--<a href="#something">But...</a>-->
                    <p ng-non-bindable >{{ latitude | number:4 }}, {{ longitude | number:4 }}</p>
                </div>
            </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>
</div>
